<!-- All Ideas code-->

{% for ideia in ideias %}      
          <div class="idea">
            <img 
              src="{{ideia.image}}"
              alt="Imagem de {{ideia.title}}">
            <div class="content">
              <h3>{{ideia.title}}</h3>
              <p> {{ideia.category}} </p>
              <div class="description"> {{ideia.description}} </div>
              <div class="links">
                <a href="{{ideia.link}}" target="_blank"> Ir para a ideia </a>
                <a href="/deletar-ideia/{{ideia.id}}"> <button>Deletar Ideia</button> </a>
              </div>
            </div>
          </div>
        {% endfor %}